.MyMenu {
    font-family: Verdana;

    .text {
        font-weight: 400;
        color: inherit;
        text-decoration: none;
        letter-spacing: .3rem,
    }

    .text svg {
        margin-top: 5px;
        margin-right: 10px;
    }

    .menu-box {
        height: 60px;
    }

    .menu-item {
        height: 55px;
        text-decoration: none;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        line-height: 60px;
        margin-top: 5px;

    }

    .menu-item-selected {
        height: 55px;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        line-height: 60px;
        margin-top: 5px;
        border-top-left-radius: 8px;
    }

    .menu-item a {
        text-decoration: none;
        cursor: pointer;
    }

    .menu-item-selected a {
        text-decoration: none;
        cursor: pointer;
    }

    .menu-item-popup-selected {
        height: 55px;
        background-color: gray;
        text-decoration: none;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        line-height: 60px;
        margin-top: 5px;
        border-top-left-radius: 8px;
    }

    .menu-item-popup-selected a {
        text-decoration: none;
        cursor: pointer;
    }


    .menu-item-selected:hover {
        background-color: white;
    }

    .selected {
        background-color: white;
    }
}